body {
	background: black url(img/footerbg.png) repeat scroll 0 0;
	font: 11px Verdana, sans-serif;
	text-align: left;
	color:black
	
	}
/*Menu 2*/
#menutop { height:28px; background:url(images/bg_menutop.jpg); margin-bottom:1px; position:relative;padding-left:0; }
#menutop ul { list-style:none;margin: 0; padding: 0;}
#menutop ul li { float:left; display:inline; height:25px; line-height:23px; }
#menutop ul li a { float:left; color:#000000; font-size:12px; padding:2px 18px 0 18px; text-decoration: none;border-left:1px solid #1893A2; }
#menutop ul li a.active{background:url(images/bg_menutop2.jpg);color:#fff; }
#menutop ul li a:hover { text-decoration:none; background:#3B5998;color:#fff; }

#wrapper {
	width: 822px;
	border: 1px solid #dcdcdc;
	margin:0 auto;
	margin-top:20px;
	text-align: left;
	background: #fff url(img/bg_kiri.png) repeat-y;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
	-moz-box-shadow: 0px 0px 8px #dcdcdc;
	-webkit-box-shadow: 0px 0px 8px #dcdcdc;
	box-shadow: 0px 0px 8px #dcdcdc;
}
#header {
	width:822px;
	background:url(../images/delpi.png) ;
	height: 130px;
	border-top-left-radius:9px;
	border-top-right-radius:9px;
}
#menu {
	width:822px;
	margin:0;
	padding:0;
	background:#E60066;
}
#leftBar {
	width: 205px;
	float: left;
	padding-left:4px;
	text-align: left;
}
#leftBar ul {list-style: none;padding: 0; margin: 0;font-size: 13px;}
#rightContent {
	width: 590px;
	padding: 5px;
	float: right;
	border-left: 0px solid #dcdcdc;
	text-align: left;
	background: #fff;
}
#rightContent h3 {font-size: 20px; font-weight: normal; padding: 0; margin: 5px; border-bottom: 1px dashed #dcdcdc; }
#footer {
	width: 822px;
	margin-top: -1px;
	clear: both;
	position: relative;
	color: #C3C3C3;
	height: 40px;
	font-size: 9px;
}
#textfooter {
	margin:0 auto;
	width: 822px;
	text-align:center;
	color:#999966;
}
#listsidebar{
	width:200px;
	overflow:hidden;
	border:solid 1px #DEDEDE;
	padding-bottom: 13px;
	border-radius:8px;
}
#listsidebar ul{
	list-style:none;
}
#listsidebar ul li{
	border-bottom:1px dotted #DAE5B9;margin-left:10px;line-height:26px
}
#listsidebar ul li a{
	margin-left:10px;line-height:26px;text-decoration:none
}
#listsidebar ul li a:hover{
	text-decoration:inherit;
}
#kotakjudul{
	background:#1C1C1C;
	margin: 0px;
	padding: 5px;
	color:#fff;
	font-weight:bold;
}

table{border: 1px solid #dcdcdc; margin: 10px 0px 20px 0px; border-collapse: collapse;font-size: 12px;}
th{padding: 8px 4px 8px 4px;border: 1px solid #dcdcdc; background: url(img/headerbg.jpg)repeat left center;color: #1A95A4 }
td{padding: 4px; border: 1px solid #dcdcdc;color: #5b5b5b;vertical-align: top;}
tr{background: #fff}
tr.data small a{color: #fff;}
tr.data small{color: #fff;}
tr.data:hover small a{color: #527e19;}
tr.data:hover small a:hover{color: #000;}
tr.data:hover small {color: #5b5b5b;}		

